#modalWinTitle {
  font-size: 2em;
  color: red;
}

.modal-dialog-centered .win-content {
  background: transparent;
  box-shadow: 1px 1px 20px 1px rgba(200, 200, 200, 0.75);
  color: white;
  text-shadow: 1px 1px 10px #000000;
  font-size: 1.1em;
}

.modal-dialog-centered .win-content * {
  border: none;
}

.modal-dialog-centered .win-content span {
  color: wheat;
}